
@input-height: 30px;

.checkbox {
	position: relative;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 10px;
	height: 50%;
	float: left;
	overflow-y: auto;
	overflow-x: hidden;
	color: @off-white;

}

input {
	display: block;
	width: 100%;
	background-color: @off-white;
	border: none;
	border-radius: 5px;

	padding-left: 5px;
	margin: 10px 0 10px 0;
	height: @input-height;

}

input[type=checkbox] {
	// width: 20px;
	// display: inline-block;
	display: none;

}

input[type=submit] {
	background: @vivid-green;
	color: @off-white;
	font-weight: @bold;
}

.radio {
	margin: 0 auto;
	height: @input-height;
	margin-bottom: 10px;
	width: 100%;
	font-size: 0;
	/*border-radius: 5px;*/
	/*background: @dk-gray;*/
}

input[type=radio] {
	display: none;
}

input[type=radio]+label,
input[type=radio]:checked+label {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 49.5%;
	font-size: 12pt;
	height: @input-height;
	line-height: @input-height;
	text-align: center;
	color: @off-white;
	border-radius: 5px;
	cursor: hand;
}

.checkbox-label {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 95%;
	font-size: 12pt;
	height: @input-height;
	line-height: @input-height;
	color: @off-white;
	border-radius: 5px;
	margin: 5px;
	padding-left: 5px;
	cursor: hand;
}

input[type=checkbox]:checked+label {
	background: @blue-mellow;
}

input[type=checkbox]+label {
	background: @md-gray-a;
}

input[type=radio]:checked+label {
	background: @blue-mellow;
}

input[type=radio]+label {
	background: @md-gray-a;
}

.bridge {
	width: 1%;
	display: inline-block;
}


.form-container {
	width: 80%;
	margin: 0 auto;
}

.form-container-small {
	width: 40%;
	margin: 0 auto;
}

.form-container form {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.new-user-form {
	// padding-right: 30%;
	// padding-left: 30%;
}

#upload-back {
	cursor: hand;
}

#upload-back-iteration {
	cursor: hand;
}

.upload-drop-down {
	cursor: hand;
}

#loading-icon {
	display: none;
}