<a href="tracks/album/<%=album.album %>" >
	<div class="album-container" id="container-<%= album.id %>">
		<div class="album-info">
			<p class="album-title"><%= album.album %></p>
		</div>
	</div>
</a>