
<a href="tracks/genre/<%= genre.genre %>" >
	<div class="genre-container" id="container-<%= genre.id %>">
		<div class="genre-info">
			<p class="genre-title"><%= genre.genre %></p>
		</div>
	</div>
</a>