

<style>
	<% if (page === "user") { %>
		#home {
			background-color: #2ECC71;
			
		}
		#home > a {
			color: #333;
		}
	<% } %>

	<% if (page === "tracks") { %>
		#tracks {
			background-color: #2ECC71;
		}
		#tracks > a {
			color: #333;
		}
	<% } %>

	<% if (page === "projects" || page === "control") { %>
		#projects {
			background-color: #2ECC71;
		}
		#projects > a {
			color: #333;
		}
	<% } %>
</style>
<div class="nav">
	<div class="navbar-left">
		<% if (loggedin) { %>
			<div class="menu logo">
				<a href="/<% liUser %>">
					<img src="/images/text_logo_tc.png" height="50px" align="bottom" />
				</a>
			</div>
		<% } else { %>
			<div class="menu logo">
				<img src="/images/text_logo_tc.png" height="50px" align="bottom" />
			</div>
		<% } %>
		<div class="menu" id="home"><a href="/<%= muser %>">Profile</a></div>
		<div class="menu" id="tracks"><a href="/<%= muser %>/tracks">Tracks</a></div>
		<div class="menu" id="projects"><a href="/<%= muser %>/projects">Projects</a></div>
		
	</div>
	<div class="navbar-right">
		<div class="menu" id="search">
			<input id="search-box" value="" type="text" placeholder="Search">
			<div tabindex='0' class="search-results">
				
			</div>
		</div>
		<div class="menu" id="logout">
			<button>
			<% if (loggedin) { %> 
				<a id="logout" href="/logout">logout</a>
			<% } else { %>
				<a id="logout" href="/login	">login</a>
			<% } %>
			</button>
		</div>
	</div>
</div>

<script src="/javascript/nav-main.js"></script>