<!DOCTYPE>
<html>
	<head>
		<title>Control Room</title>
		<link href='http://fonts.gooleapis.com/css?family=Raleway:300,500,900,800' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="/stylesheets/control-room.css">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/javascript/includes/upload-drop-down.js"></script>
		<script src="/javascript/includes/track-funcs.js"></script>
		<!-- // <script src="/javascript/profile.js"></script> -->
		
	</head>

	<body>
		<div id="upload-iteration" class="drop-down">					
			<div class="form-container">
				<form action="<%=projectid %>/add-iteration" name="uploadIteration" onsubmit="return validateIteration()" method="POST" enctype="multipart/form-data">
					<!-- <input type="text" name="iteration_title" placeholder="Title"> -->
					<input type="file" name="file" placeholder="File">					
					<input type="text" class="ghost" name="project" value="<%=project.title %>">
					<div class="radio">
						<input id="public" type="radio" name="visibility" value="1" checked>
						<label for="public">Public</label>
						<div class="bridge"></div> 
						<input id="private" type="radio" name="visibility" value="0">
						<label for="private">Private</label>
					</div>
					<div id="user-checkbox" class="checkbox"></div>
					<div id="project-checkbox" class="checkbox"></div>

					<input type="submit" name="upload">
				</form>

				<p id="upload-back-iteration">Back</p>
			</div>
		</div>

		<div class="content">
			<div class="mask"></div>
			<% include includes/nav-main.ejs %>

			<div class="content-container">
				<div class="two-third col">
					<h2 class="text-center"><%= project.title %></h2>

					<div class="add-container" id="upload-drop-down-iteration">
							<h1 class="center card">+</h1>
					</div>	
					<% 
						if (iterations) {
							for (var i = iterations.length - 1; i >=0 ; i--) {
								var iteration = iterations[i];								
					%>
					<%			include includes/iteration.ejs %>
					<%
							}
						}
						
					%>
				</div>

				<div class="third col iteration-tracks" >
				<h2>Tracks</h2>

				<% 
					if (iterations) { 
						for (var index = iterations.length - 1; index >= 0; index--) {
							var iteration = iterations[index];
							var trackListEmpty = true;
				%>
					
							<%
								for (var j = 0; j < iteration.iTracks.length; j++) {
									trackListEmpty = false;
									console.log("iteration: " + index);
									var iterationIndex 	= iteration.iTracks[j];
									var iTrack	 		= iterations[iterationIndex];

									if (iTrack) {
										oldITID = iTrack.id;
										iTrack.id = index + "i" + iTrack.id;
										var add_class = "iteration-track iteration-" + iteration.id;
							%>
							<%			include includes/iTrack.ejs %>
							<%
										iTrack.id = oldITID;
									}
								}
								for (var j = 0; j < iteration.tracks.length; j++) {
									trackListEmpty = false;
									var trackIndex = iteration.tracks[j];
									var track = tracks[trackIndex];
									if (track) {
										oldId = track.id;
										track.id = index + "i" + track.id;

										var add_class = "iteration-track iteration-" + iteration.id;
							%>
										<%	include includes/track.ejs %>
							<% 
										track.id = oldId;
									}
								}

								if (trackListEmpty) {
							%>
								<div class="message-container iteration-track iteration-<%= iteration.id %>">
									<p>
										Multiple tracks were not used in this iteration.
									</p>
								</div>
							<%
								}
							%>
						
				<% 
						}
					} 
				%>
				</div>

			</div>
			<% include includes/footer.ejs %>
		</div>
		
		<script src="/javascript/projects.js"></script>
		<% include includes/standardJS.ejs %>	
	</body>
</html>