<!DOCTYPE>
<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		

		<script src="/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
		
		<title>collabTunes</title>
		
		<!-- <link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'> -->
		<!-- <link href='http://fonts.gooleapis.com/css?family=Raleway:300,900,800' rel='stylesheet' type='text/css'> -->

		<link rel="stylesheet" href="/bootstrap-3.2.0-dist/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
		
	</head>
	<body>
		
		<div id="home" class="page splash">
			<div class="title">
				<img src="/images/kindaRight_logo_text.png" alt="">
			</div>

 		</div>
			
 		<div id="cards" class="page">
 			<h2>There are three main parts to collaborating on KindaRight</h2>
 			
 			<div class="col">
 				<div class="two-third col">
 					<h1>Tracks</h1>
 					<p>Track cards allow for users to play and listen to raw and arranged compositions by other artists</p>
 				</div>
 				<div class="third col">
 					<div class="track-container">
 						<div class="track-info">
 							<div class="track-title">Tapestry</div>
 							<div class="track-artist">Carole King</div>
 						</div>
 					</div>
 				</div>
 			</div>

 			<div class="col">
 				<div class="two-third col">
 					<h1>projects</h1>
 					<p>Project cards direct you to a control room where you can probe past iterations and components of a composition</p>
 				</div>
 				<div class="third col">
 					<div class="project-container">
 						<div class="project-info">
 							<div class="track-title">softer piano</div>
 							<div class="track-artist">carolek</div>
 						</div>
 					</div>
 				</div>
 			</div>

 			<div class="col">
 				<div class="two-third col">
 					<h1>users</h1>
 					<p>User cards allow aid discovery of new music and expansion of your network of composers and musicians</p>
 				</div>
 				<div class="third col">
 					<div class="artist-container">
 						<div class="artist-info">
 							<div class="artist-name">carolek</div>
 							<div class="artist-genre">pianist Musician</div>
 						</div>
 					</div>
 				</div>
 			</div>
 		</div>

 		<div id="projects" class="page">
 			<h1>Projects</h1>
 			<div class="two-third col">
 				<p>The heart of KindaRight, projects allow for musicians to upload and keep track of their changes</p>	
 				<p>See the iterations made on your left and the tracks used in each iteration on your right.</p>
 			</div>
 			<img src="/content/common/iteration.png">
 			
 		</div>
				
		<div id="start" class="page">
			<div class="page-container">
				<h1>Getting Started</h1>

				<p class="center"> Getting Started is easy. If you don't have an account just sign up here.</p>
				
				<div class="form-container">
					<form class="new-user-form" action="/add-user" method="POST">
						<input type="text" name="username" placeholder="username">
						<input type="text" name="email" placeholder="someone@email.com">
						<input type="text" name="first" placeholder="First Name">
						<input type="text" name="last" placeholder="Last Name">
						<input type="text" name="genre" placeholder="Preferred Musical Genre">
						<input type="password" name="password" placeholder="Password">
						<input type="password" name="confirm" placeholder=" Confirm Password">
						<button type="submit" name="submit">add account</button>
					</form>
				</div>

				<p class="center">or</p>
				<div class="form-container">
					<form action="/logincheck" method="POST" class="new-user-form">
						<input type="text" name="username" placeholder="username">
						<input type="password" name="password" placeholder="password">
						<button type="submit" name="submit">sign in</button>
					</form>
				</div>
			</div>
		</div>



		
		
	</body>
</html>