<!DOCTYPE>
<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		

		<script src="/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
		
		<title>collabTunes</title>
		
		<!-- <link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'> -->
		<!-- <link href='http://fonts.gooleapis.com/css?family=Raleway:300,900,800' rel='stylesheet' type='text/css'> -->

		<link rel="stylesheet" href="/bootstrap-3.2.0-dist/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
		
	</head>
	<body>
		
		<div id="home" class="page splash">
			<div class="title">
				<img src="/images/kindaRight_logo_text.png" alt="">
			</div>

<!-- 			<ol>
				<li class="splash-menu"><a href="#l-who">Who we are</a></li>
				<li class="splash-menu"><a href="#l-what">What We do</a></li>
				<li class="splash-menu"><a href="#l-start">Getting Started</a></li>
			</ol>
 -->		
 		</div>
				
		<div id="start" class="page">
			<div class="page-container">
				<h1>Getting Started</h1>

				<p class="center"> Getting Started is easy. If you don't have an account just sign up here.</p>
				
				<div class="form-container">
					<form class="new-user-form" action="/add-user" method="POST">
						<input type="text" name="username" placeholder="username">
						<input type="text" name="email" placeholder="someone@email.com">
						<input type="text" name="first" placeholder="First Name">
						<input type="text" name="last" placeholder="Last Name">
						<input type="text" name="genre" placeholder="Preferred Musical Genre">
						<input type="password" name="password" placeholder="Password">
						<input type="password" name="confirm" placeholder=" Confirm Password">
						<button type="submit" name="submit">add account</button>
					</form>
				</div>

				<p class="center">or</p>
				<div class="form-container">
					<form action="/logincheck" method="POST" class="new-user-form">
						<input type="text" name="username" placeholder="username">
						<input type="password" name="password" placeholder="password">
						<button type="submit" name="submit">sign in</button>
					</form>
				</div>
			</div>
		</div>



		
		
	</body>
</html>