<!DOCTYPE>

<html>
	<title>
		login
	</title>
	<head>
		
		<link href='http://fonts.gooleapis.com/css?family=Raleway:300,500,900,800' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="/stylesheets/page.css">
		<link rel="stylesheet" href="/stylesheets/profile.css">
		<link rel="stylesheet" href="/stylesheets/icons.css">
		<link rel="stylesheet" href="/stylesheets/nav.css">
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>		
		
		<script src="/javascript/profile.js"></script>

	</head>
	<body>
		<div class="content">

			<div class="mask"></div>
			
		<div class="form-container">
			<form action="/logincheck" method="POST" class="">
				<input type="text" name="username" placeholder="username">
				<input type="password" name="password" placeholder="password">
				<button type="submit" name="submit">sign in</button>
			</form>
		</div>



		</div>
	</body>
</html>