<ul class="navbar-left">
		<li class="menu"><img src="/images/text_logo_tc.png" height="50px" /></li>
		<li class="menu"><a href="#l-home">Home</a></li>
		<li class="menu"><a href="#l-who">Who we are</a></li>
		<li class="menu"><a href="#l-what">What We do</a></li>
		<li class="menu"><a href="#l-start">Getting Started</a></li>
	</ul>
	<ul class="navbar-right">
		<li><a href="#l-start">+ sign in</a></li>
	</ul>