<!DOCTYPE>

<html>
	<title>
		<%= muser %>
	</title>
	<head>

		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
		<link rel="icon" href="../favicon.ico" type="image/x-icon">
		
		<link href='http://fonts.gooleapis.com/css?family=Raleway:100,300,500,700,' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>		

	</head>
	<body>
		<div id="upload" class="drop-down">					
			<div class="form-container">
				<form name="trackSubmit" action="/upload" method="POST" enctype="multipart/form-data" onsubmit="return trackValidate()">
					<input type="text" name="album" placeholder="Album">
					<input type="text" name="genre" placeholder="Genre">
					<input type="file" name="file" placeholder="File">
					<input type="submit" name="upload">
				</form>
				<p id="upload-back">Back</p>

				<div class="center" id="loading-icon">
					<img src="/images/icons/loading.gif" width="100px" height="100px">
				</div>
			</div>
		</div>

		<div class="content">

			<div class="mask"></div>
			<% include includes/nav-main.ejs %>
	 	
			<div class="content-container">
				<div class="two-third col">
					<h2>Feed</h2>	
					
					<% if (mine) { %>
						<div class="add-container upload-drop-down">
							<h1 class="center card">+</h1>
						</div>	
					<% } %>

					<% 
						if (tracks != undefined) {
							if (tracks.length == 0) {
					%>
							<p class="center">Oh No! There's nothing here.</p>
					<%
							}
							for (var i = 0; i < tracks.length; i++) {
								var track = tracks[i];
								var add_class = undefined;

								if (following.indexOf(track.artist) < 0 && track.artist != muser)
									continue;

					%>
					<%			include includes/track.ejs %>
					<%
							}
						}
						
					%>
				</div>
				
				<div class="third col">
					<h2>Collaborators</h2>
					<%
						if (users != undefined) {
							if (users.length == 0 || users.length == 1 && mine) {
					%>
								<p class="center"x>Oh No! there's no one here</p>
					<%
							}
							for ( var i = 0; i < users.length; i++) {
								var user = users[i];
					%>
					<% 			include includes/artist.ejs %>
					<%
							}
						}
					%>
				</div>
			</div>
			<% include includes/footer.ejs %>
		</div>		

		<script type="text/javascript" src="/javascript/profile.js"></script>
		<% include includes/standardJS.ejs %>
	</body>
</html>
