<!DOCTYPE>
<html>
	<head>
		<title><%= muser %> Projects</title>
		<link href='http://fonts.gooleapis.com/css?family=Raleway:300,500,900,800' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="/stylesheets/projects.css">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/javascript/includes/upload-drop-down.js"></script>
		<script src="/javascript/includes/track-funcs.js"></script>
		<!-- // <script src="/javascript/profile.js"></script> -->
		
	</head>

	<body>
		<div id="upload" class="drop-down">					
			<div class="form-container">
				<form action="/new-project" method="POST">
					<input type="text" name="projectTitle" placeholder="Title">
					<input type="submit" name="upload">
				</form>

				<p id="upload-back">Back</p>
			</div>
		</div>

		<div class="content">
			<div class="mask"></div>
			<% include includes/nav-main.ejs %>

			<div class="content-container">
				<div class="container">
					
					<% if (mine) { %>
						<div class="add-container upload-drop-down">
							<h1 class="center card">+</h1>	
						</div>
					<% } %>	

					<% 	for (var index in projects) { 
							var project = projects[index];
					%>
					<% include includes/project.ejs %>
					<% 	} %>	

				</div>
			</div>			
		</div>
		
		<script src="/javascript/projects.js"></script>
		<script src="/javascript/includes/upload-drop-down.js"></script>
	</body>
</html>