<!DOCTYPE>
<html>
	<head>
		<title></title>
		<link href='http://fonts.gooleapis.com/css?family=Raleway:300,500,900,800' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="/stylesheets/page.css">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/javascript/includes/track-funcs.js"></script>
		<script src="/javascript/profile.js"></script>		
	</head>

	<body>
		<div id="upload" class="drop-down">					
			<div class="form-container">
				<form action="/upload" method="POST" enctype="multipart/form-data">
					<input type="text" name="album" placeholder="Album">
					<input type="text" name="genre" placeholder="Genre">
					<input type="file" name="file" placeholder="File">
					<input type="submit" name="upload">
				</form>

				<p id="upload-back">Back</p>
			</div>
		</div>
		
		<div class="content">
			<div class="mask"></div>
			<% include includes/nav-main.ejs %>

		</div>

		<script src="/javascript/includes/upload-drop-down.js"></script>
	</body>
</html>