
<!DOCTYPE>
<html>
	<head>
		<title><%= muser %> tracks</title>
		<link href='http://fonts.gooleapis.com/css?family=Raleway:300,500,900,800' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="/stylesheets/tracks.css">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- // <script src="/javascript/includes/upload-drop-down.js"></script> -->
		<script src="/javascript/includes/track-funcs.js"></script>
		<!-- // <script src="/javascript/profile.js"></script> -->
		<!-- // <script src="/javascript/projects.js"></script> -->
		
	</head>

	<body>
		<% include includes/add-track.ejs %>		
		<div class="content">
			<div class="mask"></div>
			<% include includes/nav-main.ejs %>
			
			<div class="category-container">
				<div class="category cselected" id="trackBtn">Tracks</div>
				<div class="category" id="albumBtn">Albums</div>
				<div class="category" id="genreBtn">Genres</div>
			</div>
			<div class="content-container">
				<div class="container" id="track-items">
				
					
					<% if (mine) { %>
						<div class="center-container">
							<a href="manage"><div id="manageTracks" class="center-item">Manage Tracks</div></a>
						</div>
						<div class="add-container upload-drop-down">
							<h1 class="center card">+</h1>	
						</div>
					<% } %>	

					<% 	
						var empty = true;
						for (var index in tracks) { 
							empty = false;
							var track = tracks[index];
							var add_class = undefined;
					%>
					<% include includes/track.ejs %>
					<% 	} 
						if (empty) {
					%>
						<p class="center">Oh No! There's nothing here</p>
					<%
						}
					%>	

				</div>

				<div class="container" id="album-items">
					
					<% if (mine) { %>
						<div class="add-container upload-drop-down" >
							<h1 class="center card">+</h1>	
						</div>
					<% } %>	

					<% 	var empty = true;
						for (var index in albums) { 
							empty = false;
							var album = albums[index];
					%>
					<% include includes/album.ejs %>
					<% 	} 
						if (empty) {
					%>
						<p class="center">Oh No! There's nothing here</p>
					<%
						}
					%>						
				</div>

				<div class="container" id="genre-items">
					
					<% if (mine) { %>
						<div class="add-container upload-drop-down">
							<h1 class="center card">+</h1>	
						</div>
					<% } %>	

					<% 	var empty = true;
						for (var index in genres) { 
							var genre = genres[index];
							if (genre.genre == undefined) genre.genre = "Unknown Genre";
							empty = false;
					%>
					<% include includes/genre.ejs %>
					<% 	}
						if (empty) {
					%>
						<p class="center">Oh No! There's nothing here</p>
					<%
						}
					%>	

				</div>
			</div>	
			<% include includes/footer.ejs %>
		</div>
		<% include includes/standardJS.ejs %>
	</body>
</html>